.main {
  box-sizing: border-box;
  padding: 10px;
}

.list {
  width: 100%;
  min-height: 50px;
  list-style: none;
  padding: 0px;
}

.list-item {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.list-item_active {
  border: rgb(89, 89, 255) dotted 1px;
  padding: 10px;
}

.list-item:hover {
  background-color: #cad4ff49;
  transition: 0.5s;
  cursor: pointer;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.icons_active {
  display: none;
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}