<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Form app</span>

  <div class="navigation">
    <div class="example-button-row">
      <a class="nav-link" href="#" [routerLink]="['/style']">
        <button mat-button color="white">Set Style</button>
      </a>

      <a class="nav-link" href="#" [routerLink]="['/build']">
        <button mat-button color="white">Build Form</button>
      </a>

      <a class="nav-link" href="#" [routerLink]="['/select']">
        <button mat-button color="white">Select Element</button>
      </a>
    </div>
  </div>

  <span class="example-spacer"></span>

  <button
    mat-mini-fab
    color="accent"
    aria-label="Example icon button with a plus one icon"
  >
    {{ email.slice(0, 2).toUpperCase() }}
  </button>

  <button (click)="logOut()" mat-button color="white">LOG OUT</button>
</mat-toolbar>
