<app-header></app-header>
<div cdkDropListGroup class="main">
  <app-select [elements]="elements" [drop]="drop" class="select"></app-select>
  <app-result
    [elementId]="elementId"
    [currentElements]="currentElements"
    [getCurrentElement]="getCurrentElement"
    [deleteElement]="deleteElement"
    [drop]="drop"
    class="result"
  ></app-result>
  <app-builder
    [setStyleElements]="setStyleElements"
    [setStyleForm]="setStyleForm"
    [setBorderForm]="setBorderForm"
    class="builder"
  ></app-builder>
</div>
