<mat-card>
  <h2>Form Style</h2>

  <p>Width</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Enter element width</mat-label>
    <input matInput type="number" />
  </mat-form-field>

  <p>Height</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Enter element height</mat-label>
    <input matInput type="number" />
  </mat-form-field>

  <p>Background form color</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Input color</mat-label>
    <input matInput type="color-picker" type="color" />
  </mat-form-field>

  <button class="button" mat-raised-button color="primary">
    Submit border setting
  </button>

  <mat-divider></mat-divider>

  <h2>Border Style</h2>

  <p>Border width</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Border width</mat-label>
    <input matInput type="number" />
  </mat-form-field>

  <p>Border type</p>
  <mat-form-field class="input" appearance="fill">
    <mat-label>Border type</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="solid">Solid</mat-option>
      <mat-option value="dashed">Dashed</mat-option>
      <mat-option value="ridge">Ridge</mat-option>
      <mat-option value="thick double">Thick double</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Border color</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Input color</mat-label>
    <input matInput type="color-picker" type="color" />
  </mat-form-field>

  <button class="button" mat-raised-button color="primary">
    Submit border setting
  </button>
</mat-card>
