<mat-card>
  <h2>Form Style</h2>

  <p>Width</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Enter element width</mat-label>
    <input matInput [(ngModel)]="width" type="number" />
  </mat-form-field>

  <p>Height</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Enter element height</mat-label>
    <input matInput [(ngModel)]="height" type="number" />
  </mat-form-field>

  <p>Background form color</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Input color</mat-label>
    <input matInput [(ngModel)]="background" type="color-picker" type="color" />
  </mat-form-field>

  <button
    (click)="getFormStyle()"
    class="button"
    mat-raised-button
    color="primary"
  >
    Submit form style
  </button>

  <mat-divider></mat-divider>

  <h2>Border Style</h2>

  <p>Border width</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Border width</mat-label>
    <input matInput [(ngModel)]="borderWidth" type="number" />
  </mat-form-field>

  <p>Border type</p>
  <mat-form-field class="input" appearance="fill">
    <mat-label>Border type</mat-label>
    <mat-select [(ngModel)]="borderType">
      <mat-option>None</mat-option>
      <mat-option value="hidden">Hidden</mat-option>
      <mat-option value="dotted">Dotted</mat-option>
      <mat-option value="dashed">Dashed</mat-option>
      <mat-option value="solid">Solid</mat-option>
      <mat-option value="double">Double</mat-option>
      <mat-option value="groove">Groove</mat-option>
      <mat-option value="ridge">Ridge</mat-option>
      <mat-option value="inset">Inset</mat-option>
      <mat-option value="outset">Outset</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Border color</p>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Input color</mat-label>
    <input
      matInput
      [(ngModel)]="borderColor"
      type="color-picker"
      type="color"
    />
  </mat-form-field>

  <button
    (click)="getFormStyle()"
    class="button"
    mat-raised-button
    color="primary"
  >
    Submit border setting
  </button>
</mat-card>
