<mat-card>
  <h2>Form Style</h2>

  <p>Width</p>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Enter element width</mat-label>
      <input matInput type="number" />
    </mat-form-field>
  </div>
  <p>Height</p>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Enter element height</mat-label>
      <input matInput type="number" />
    </mat-form-field>
  </div>

  <p>Background color</p>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Background color</mat-label>
      <input matInput type="text" />
    </mat-form-field>
  </div>

  <h2>Border Style</h2>

  <p>Border width</p>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Border width</mat-label>
      <input matInput type="number" />
    </mat-form-field>
  </div>
  <p>Border type</p>
  <mat-form-field appearance="fill">
    <mat-label>Border type</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="solid">Solid</mat-option>
      <mat-option value="dashed">Dashed</mat-option>
      <mat-option value="ridge">Ridge</mat-option>
      <mat-option value="thick double">Thick double</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Border color</p>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Border color</mat-label>
      <input matInput type="text" />
    </mat-form-field>
  </div>
</mat-card>

<!-- styles:
Width
Height
Required?
Border Style
Background -->
